
body{
    font-family: "Source Sans Pro";
    background: transparent;
    background-color: #1B2127 ;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5{
    font-family: "Fjalla One";
    font-weight: 400;
}

h1{
    font-size: 60px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    /*text-transform: uppercase;
    text-decoration: underline;*/
}

h2{
    font-size: 40px; ;
    color: white;
    padding: 20px;
    text-transform: uppercase;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
}

/* .header_border{
    /* border: white 1px solid;
/*     background-color: white;
    padding: 15px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.logo{
    /* margin: 0; */
}

.menu{
    /* padding-bottom: 15px; */
}

.header
ul{
    /* margin-bottom: 0px; */
    
}

.header a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 0px 10px;
}

.contenedor{
    max-width: 1024px;
    flex: 1;
    height: inherit;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
}

ul
li{
    margin: 0;
  padding: 0;
  list-style: none;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.hero{
    height:300px ;
    display: flex;
    margin: 50px 20px 100px 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    /* background-image: url("../imagenes/Oblivia.jpg");
    background-size: contain;
    
    background-repeat: no-repeat;
    background-position-x: right; */
}

.hero h1{
    color:white;
}

h1
strong{
    color: orange;
}

.hero_imagen{


}

.mi_cara{
    max-width: 100%;
    margin: 0;
}

.project{
    /*border-color: greenyellow;
    border-width: 15px;
    border-style: ridge;*/
    background-color: orange;
    border: 3px solid orange;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}


.project_details{
    max-width: 50%;
    display: inline-block;
}

.project_title{
    font-size: 30px;
    margin: 0px;
    padding: 10px ;

}

.project_fecha{
    margin: 10px;
    font-size: 18px;
}

.project_description{
    margin: 10px;
    font-size: 20px;
}

.project_photos{
    max-width: 50%;
    text-align: right;
}

.project-image-conteiner{
    margin: 0px;
}

.project img{
    max-width: 75%;
}




.experiencia{
    border: 3px solid orange;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience_details{
    align-items: center;
    padding: 30px;
    
}

.experiencia_link{
    margin-left: 10px;
    color: orange;
    background-color: white ;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    text-decoration: none;
}

.experiencia_titulo{
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.experiencia_fecha{
    font-size: 18px;
    margin: 10px;
}

.experiencia_descripcion{
    font-size: 20px;
    margin: 10px;
}

.experiencia_fotos{
    max-width: 50%;
    display: inline-block;
    align-items: center;
}

.experiencia_fotos img{
    max-width: 100%;
}

.experiencia_logoms{
    display: inline-block;
    max-width: 40%;
    margin: 20px;
}

.experiencia_animefest1{
    display: inline-block;
    max-width: 40%;
    margin: 20px;
}


.eventos{

}

.lista_eventos{
    display: flex;
    flex-wrap: inherit; 
    width: 100%;
}

.evento{
    border-radius: 10px;
    margin: 1%;
    width: 48%;
    overflow: hidden;
    flex-shrink: 0;
    background-color: orange;
}

.evento_detalles{
    margin: 20px;
    margin-top: -60px;
    padding: 20px 40px;
    position: relative;
    background-color: white;
    text-align: center;
}

.eventos_descripcion{
    text-align: left;
}

.eventos_link{
    color: orange;
    background-color: ;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    text-decoration: none;
    
}

.evento_contenedor_imagen{
    margin: 0;
}
.evento img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.contacto{
    display: flex;
    color: white;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contacto_tucorreo{
    display: flex;
}

.espacio_caja{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px 5px 25px;
    background-image: url(../imagenes/correo.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contacto .boton{
    display: block;
    margin: 10px auto 0;
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    width: 100px;
    border-style: solid;
    color: white;
    background: transparent;
}


.contacto_redes{
    display: flex;
}

.contacto a{
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px ;
    justify-content: space-between;
}


.git_hub{
    background-image: url("../imagenes/github.svg");
}

.twitter{
    background-image: url("../imagenes/twitter.svg");
}

.facebook{
    background-image: url("../imagenes/facebook.svg");
}

.footer{
    display: flex ;
    background-color: orange;
    color: white ;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
    padding-left: 10px;
}

.footer_portafolio{
    padding-left: 15px;
}

.pie_amor{
    padding-right: 15px;
}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){
    
    .header{
        display: block;
        height: auto;
    }

    .nav{
        display: block;
    }

    .header ul{
        display: block;
    }

    .header ul li{
        height: 50px;
        text-align: center;

    }

    .header a{
        justify-content: center;
    }

    .header .logo{
        text-align: center;
    }

    body{
        border: 10px solid greenyellow;
    }

    .project{
        display: block;
    }

    .project_details{
        max-width: 100%;
    }

    .project_photos{
        max-width: 100%;
    }

    .project-image-conteiner{
        margin-top: 20px;
        text-align: center;
    }

    .project_photos img{
        max-width: 50%;
    }

    .evento{
        width: auto;
        flex-shrink: initial;
    }

    .experiencia{
        display: block;
    }

    .experiencia_fotos {
        max-width: 100%;
    }

    .experiencia_fotos figure{
        max-width: 45%;
        margin: 2%;
    }

    .experiencia_fotos img{
        max-width: 50%;
    }
    

    .evento img{
        width: 100%;
    }

    .contacto{
        height: auto;
        padding: 1em 0 ;
        text-align: center;
        display: block;
    }

    .contacto_tucorreo{
        display: block;
        margin: 1em 0;
    }

    .contacto_redes{
        justify-content: center;
    }

    .form-email button{
        margin: 1em auto;

}

} 

@media screen and (max-width: 480px){
    .project{
        display: block;
    }

}

@media screen and (max-width: 320px){
    
}