body{
    font-family: "Source Sans Pro";
    background: purple;
}
h1,
h2,
h3,
h4,
h5{
    font-family: "Fjalla One";
    font-weight: 400;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    /*text-transform: uppercase;
    /*text-decoration: underline;
}