body{
    font-family: "Source Sans Pro";
    background: #1B2127;
}
h1,
h2,
h3,
h4,
h5{
    font-family: "Fjalla One";
    font-weight: 400;
}

h1{
    font-size: 60px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    margin-top: 0px;
    /*text-transform: uppercase;
    text-decoration: underline;*/
}

h2{
    font-size: 40px; ;
    color: white;
    padding: 20px;
    text-transform: uppercase;
}

ul
li{
    margin: 0;
  padding: 0;
  list-style: none;
}

ul{
    display: flex;
    padding-right: 100px;
}

.mi_cara{
    display: none;
}

.project{
    /*border-color: greenyellow;
    border-width: 15px;
    border-style: ridge;*/
    background-color: orange;
    border: 3px solid orange;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.project_details{
    width: 500px;
    padding: 30px;
    display: inline-block;
}

.project_title{
    font-size: 30px;
    margin: 0px;
    padding: 10px ;

}

.project_fecha{
    margin: 10px;
    font-size: 18px;
}

.project_description{
    margin: 10px;
    font-size: 20px;
}

.project-image-conteiner{
    margin: 0px;
    padding: 20px;

}

.hero{
    height:300px ;
    margin: 50px 20px 20px 20px;
    background-color: #1B2127;
    background-image: url("../imagenes/Oblivia.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

.hero h1{
    color:white;
}

h1
strong{
    color: orange;
}

.header{
    background-color: #1B2127;
    color: white;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    /*border: 5px  solid  white;
    border-radius: 15px;*/
}

.menu{
    padding-bottom: 15px;
}

.header
ul{
    margin-bottom: 0px;
    
}
.header a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

.experiencia{
    border: 10px solid orange;
    border-radius: 5px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience_details{
    display: flex ;
    align-items: center;
    padding: 30px;
}

.experiencia_link{
    margin: 10px;
}

.experiencia_titulo{
    font-size: 30px;
    margin: 10px;
}

.experiencia_fecha{
    font-size: 18px;
    margin: 10px;
}

.experiencia_descripcion{
    font-size: 20px;
    margin: 10px;
}

.experiencia_fotos{
    display: flex;
    align-items: center;
}

.experiencia_logoms{
    display: inline-block;
    margin: 20px;
}

.experiencia_animefest1{
    display: inline-block;
    margin: 20px;
}
.experiencia_animefest2{
    display: inline-block;
    margin: 20px;
}

.contacto{
    border: white;
    border-radius: 5px;
    background-color: white;
    margin: 20px 0px;
}
.contacto div{
    padding: 20px;
}

.footer{
    display: flex ;
    color: white ;
    background-color: orange;
    align-items: center;
    justify-content: space-between;
    
}

.footer img {
    vertical-align: middle;
}

.pie_amor{
    padding: 15px;
}